img:hover{
    height: 500px;
    width: 650px;
    margin: 10px;
    align-content: center;
}

h1 {
    color: black;
    font-family: fantasy;
    font-size: 3em;
    border: solid black;
    border-color: darkblue;
   
} 
.container{
    display:flex
    flex-wrap: nowrap | wrap | wrap-reverse;
    justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
}

body{
    background-image: url(backgroundnew.jpeg);
    background-size: cover;
    back
}
p{
    line-height: 30px;
    fo
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

